#headertext { float: left; margin: 0px; font-size: 2em }
#navigation { float: right; line-height: ; vertical-align: middle }
#head { width: 750px; border-bottom: 3px solid; padding: 10px; background-color: #eee;
  overflow: auto; margin: auto }
